/* REST */
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
input{
  padding: O;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

ol, ul {
  list-style: none;
}

